.my-carousel {
  border: none;
  padding: 0px;
  width: 224px;
  height: 260px;
  position: relative;

  .slick-dots {
    bottom: 9px; /* изменить расположение точек */
  }

  .slick-dots li {
    margin: 0 8px; /* изменить расстояние между точками */
  }

  .slick-dots li button:before {
    font-size: 8px; /* изменить размер точек */
    color: white; /* изменить цвет точек */
    opacity: 0.5;
  }

  .slick-dots li.slick-active button:before {
    color: #00a0ab;
  }

  .seen {
    position: absolute;
    top: 11px;
    margin-left: 65px;
    width: 94px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    color: #2c2c2c;
    font-size: 12px;
    text-align: center;
  }
}

.second-my-carousel {
  width: 156px;
  height: 134px;

  .slick-dots {
    bottom: 9px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .slick-dots li button:before {
    font-size: 8px;
    color: white;
    opacity: 0.5;
  }

  .slick-dots li.slick-active button:before {
    color: #00a0ab;
  }

  .second-seen {
    position: absolute;
    top: 11px;
    margin-left: calc((156px - 94px) / 2);
    width: 94px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    color: #2c2c2c;
    font-size: 12px;
    text-align: center;
  }

  .none {
    display: none;
  }
}
